<nav class="navbar-user-not-logged-in">
  <div class="logo-and-name">
    <img class="lhl-marketplace-logo" src="https://raw.githubusercontent.com/Thinkful/bootcamp-finder/master/bootcamps/lighthouse-labs/logo.png" alt="Lighthouse">
    <span class="company-name">LLH MarketPlace</span>
  </div>
  <div class="nav-bar-buttons">
    <% console.log("THE USER IS >>>>>>", user) %>
    <% if (user) { %>
      <span> Hey there, <%= user %> </span>
      <span>Messages</span>
      <span>My Favorites</span>
      <form action="/logout" method="POST">
        <button type="submit">Logout</button>
      </form>
    <% } else { %>
      <button><a href="/register" style="text-decoration: none;">Register</a></button>
      <button><a href="/login" style="text-decoration: none;">Login</a></button>
    <% } %>

  </div>
</nav>

