<nav class="navbar-user-not-logged-in">
  <div class="logo-and-name">
    <img class="lhl-marketplace-logo" src="https://raw.githubusercontent.com/Thinkful/bootcamp-finder/master/bootcamps/lighthouse-labs/logo.png" alt="Lighthouse">
    <span class="company-name">LHL MarketPlace</span>
  </div>
  <div class="nav-bar-buttons">
    <% if (user && isAdmin) { %>
      <span> Hey there, <%= user %> </span>
      <div class="dropdown">
        <button class="dropbtn">Menu</button>
        <div class="dropdown-content">
          <a href="/create">Create Listing</a>
          <a href="/">My Listings</a>
          <a href="/postings">Listings</a>
          <a href="/conversations">Messages</a>
          <a href="/favorites">My Favorites</a>
          <form action="/logout" method="POST">
            <a><button type="submit">Logout</button></a>
          </form>
        </div>
      </div>
    <% } else if (user) { %>
      <span> Hey there, <%= user %> </span>
      <div class="dropdown">
        <button class="dropbtn">Menu</button>
        <div class="dropdown-content">
          <a href="/postings">Listings</a>
          <a href="/conversations">Messages</a>
          <a href="/favorites">My Favorites</a>
          <form action="/logout" method="POST">
            <a><button type="submit">Logout</button></a>
          </form>
        </div>
      </div>
    <% } else { %>
      <button><a href="/register" style="text-decoration: none;">Register</a></button>
      <button><a href="/login" style="text-decoration: none;">Login</a></button>
    <% } %>

  </div>
</nav>

