<div class="search-bar-container">
      <form method="get" action="/postings">
        <input class="search-bar" type="text" placeholder="Search..." name="searchpostings">
        <button class="fas fa-search search-postings-button" type="submit"></button>
      </form>
      <div class="dropdown">
        <button onclick="myFunction()" class="fas fa-filter"></button>
        <div id="myDropdown" class="dropdown-content">
          <form method="get" action="/postings">
          <input type="itemprice" placeholder="Max Price.." id="myInput" name="filterprice">
          </form>
        </div>
      </div>
    </div>
