<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/conversations.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_navbar') %>
    <h1>Conversations!</h1>

    <div class="conversations-container">
      <% let currentConv = 0;
      let sender = undefined;
      let reciever = undefined;
      for(let message of messages) { %>
        <tr>
          <h3><% if (message['conversation_id'] !== currentConv) {  %>
            <% currentConv++; %>
            Convo <%= message['conversation_id'] %>
            <% } %></h1>
          <td><%= message['content'] %></td>
          <span>
            <% let date = JSON.stringify(message['time_sent']); %>
            <%= date.slice(1, 11) %>
          </span>
        </tr>
      <% } %>

    </div>


  </body>





  </body>
</html>
