<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head') %>
  <body>
    <%- include('partials/_navbar') %>

    <div class="search-bar-container">
      <input class="search-bar" type="text" placeholder="Search...">
      <button class="fas fa-search" type="submit"></button>
      <button class="fas fa-filter" type="submit"></button>
      <button class="fas fa-sort" type="submit"></button>
    </div>

    <% for(let favorite of favorites) {%>
    <div class="favorites-container">


    </div>
    <% } %>

  </body>
</html>
