<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head') %>
  <body class="body-index">
    <%- include('partials/_navbar') %>
    <div class="register-login-container">
      <p class="heading-in-box">SNEEK</p>
      <p>First time user? Please create an account.</p>
      <a href="/register"><button class="register-button reg-log-buttons">Register</button></a>
      <p>Existing user? Login to view our sneaker collection.</p>
      <a href="/login"><button class="reg-log-buttons">Login</button></a>
    </div>
  </body>
</html>
