<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head') %>
  <body>
    <%- include('partials/_navbar') %>
    <!-- <nav class="navbar-non-admin-logged-in">
      <img class="lhl-marketplace-logo" src="https://raw.githubusercontent.com/Thinkful/bootcamp-finder/master/bootcamps/lighthouse-labs/logo.png" alt="Lighthouse">
      <span>LLH MarketPlace</span>
      <button>Messages</button>
      <button>My Favorites</button>
      <button>Logout</button>
    </nav>
    <nav class="navbar-admin-logged-in">
      <img class="lhl-marketplace-logo" src="https://raw.githubusercontent.com/Thinkful/bootcamp-finder/master/bootcamps/lighthouse-labs/logo.png" alt="Lighthouse">
      <span>LLH MarketPlace</span>
      <button>Create Listing</button>
      <button>My Listings</button>
      <button>Messages</button>
      <button>My Favorites</button>
      <button>Logout</button>
    </nav> -->
    <h1>Hello World!</h1>
  </body>
</html>
