<!DOCTYPE html>
<html lang ="en">
<%- include('partials/_head') %>
<body>
  <%- include('partials/_navbar') %>
  <div class="login-container">
    <h2>Login</h2>
    <form method="POST" action="/login">
        <p>Email Address:<input type="email" placeholder="Enter email" name="email" required/></p>
        <p>Password:<input type="password" placeholder="Password" name="password" required/></p>
        <button type="submit" id="login-submit" class="btn btn-primary">Login!</button>
    </form>
  </div>
</body>
</html>
