<!DOCTYPE html>
<html lang ="en">
  <%- include('partials/_head') %>
    <body>
      <nav class="navbar-container">
        <div class="logo-and-name">
          <img class="sneek-logo" src="/images/sneaker-store-logo.png" alt="company-logo" >
          <span class="company-name">SNEEK</span>
        </div>
        </nav>
      <div class="register-container">
    <h2>Register</h2>
    <form method="POST" action="/register">
    <p>Name:<input type="name" placeholder="name" name="name" required/></p>
    <p>Email:<input type="email" placeholder="email" name="email" required/></p>
    <p>Password:<input type="password" placeholder="password" name="password" required/></p>
    <button type="submit" id="register-submit" class="btn btn-primary">Register!</button>
    </form>
    </div>
    </body>
</html>
