<!DOCTYPE html>
<html lang ="en">
  <%- include('partials/_head') %>
    <body>
      <%- include('partials/_navbar') %>

    <h2>Register</h2>
    <form method="POST" action="/register">
    <p>Name:<input type="name" placeholder="name" name="name" required/></p>
    <p>Email:<input type="email" placeholder="email" name="email" required/></p>
    <p>Password:<input type="password" placeholder="password" name="password" required/></p>
    <button type="submit" class="btn btn-primary">Register!</button>
    </form>
    </body>
</html>
