.favorite-container {
  display: flex;
  align-items: center;
  width: 90%;
  height: 40%;
  border: thin solid black;
  margin: auto;
  margin-bottom: 1rem;
  padding: 0.4rem;
  border: thin solid black;
  border-radius: 6px;
  text-transform: capitalize;
  background: #5e0000cb;
  color: white
}

.favorite-image {
  height: auto;
  width: 20rem;
  border-radius: 6px;
}

.favorite-title-price-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
  padding: 0.4rem;
  text-align: left;
}

.favorite-right-hand-side-parent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.favorite-address-seller {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.favorite-msg-fav-timestamp {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#favHeart {
  color: white
}
