.search-bar-container {
  display: flex;
  width: 90%;
  gap: 1rem;
  margin: 1rem auto;
  justify-content: flex-end;
  align-items: center;
}

.search-bar {
  margin-right: auto;
  flex-grow: 1;
}

.favorite-container {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 40%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: thin solid black;

}

.favorite-image {
  height: auto;
  width: 14rem;
  padding: 0.4rem;
}

.favorite-title-price-description {
  display: flex;
  flex-direction: column;
}

.favorite-right-hand-side-parent {
  margin-left: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.favorite-address-seller {
  display: flex;
  flex-direction: column;
}

.favorite-msg-fav-timestamp {
  display: flex;
}
