.body-index {
  background: url(/images/sneaker-background.jpg) no-repeat center center fixed;
  background-size: cover;
}

.register-login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 2rem;
  height: 75%;
  width: 30%;
  border: 2px solid black;
  border-radius: 0.5rem;
  padding-bottom: 1.5rem;
  color: white;
  background:#5e0000be;
}

.heading-in-box {
  font-size: x-large;
  font-family: 'Gugi', cursive;
  margin-bottom: 1rem;
}

.register-button {
  margin-bottom: 1.5rem;
}

.reg-log-buttons {
  text-decoration: none;
  background-color: #d4a713;
  color: white;
  text-align: center;
  font-size: 1rem;
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem;
  transition-duration: 0.4s;
}

.reg-log-buttons:hover {
  background-color: #4CAF50;
  color: white;
}

.reg-log-buttons:focus {
  outline: none;
}

.reg-log-buttons:active {
  transform: translateY(3px);
}
