.body-index {
  background: url(/images/sneaker-background.jpg) no-repeat center center fixed;
  background-size: cover;
}

.register-login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 1rem;
  height: 75%;
  width: 30%;
  border: 2px solid black;
  border-radius: 0.5rem;
  padding-bottom: 1.5rem;
  color: white;
  background: black;
}

.heading-in-box {
  font-size: x-large;
  font-family: 'Gugi', cursive;
  margin-bottom: 1rem;
}

.register-button {
  margin-bottom: 1.5rem;
}

.reg-log-buttons {
  text-decoration: none;
}
