nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  text-transform: capitalize;
}

.lhl-marketplace-logo {
  width: 30px;
  height: auto;
  padding-right: 0.5rem;
}

.company-name {
  font-family: 'Saira Stencil One', cursive;
  font-size: x-large;
}

.logo-and-name {
  display: flex;
  align-items: center;
}

.nav-bar-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
