.search-bar-container {
  display: flex;
  width: 90%;
  gap: 1rem;
  margin: 1rem auto;
  align-items: center;
}

.search-bar {
  margin-right: auto;
  flex-grow: 1;
}

.fa-filter {
  margin-left: auto;
}

.posting-container {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 40%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: thin solid black;

}

.posting-image {
  height: auto;
  width: 14rem;
  padding: 0.4rem;
}

.posting-title-price-description {
  display: flex;
  flex-direction: column;
}

.posting-right-hand-side-parent {
  margin-left: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.posting-address-seller {
  display: flex;
  flex-direction: column;
}

.posting-msg-fav-timestamp {
  display: flex;
}

.posting-marksold-stock > .fa-check {
  color: green;
}

.posting-marksold-stock > .fa-times-circle {
  color :red;
}

.posting-id {
  visibility: hidden;
}

